.fixed_header{
    background-color: rgb(255, 255, 255);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    justify-content: stretch;

}

.item1{
    // background-color: rgb(206, 178, 22);
    margin: auto; //con esta propiedad lo pone centrado
    text-align: center; //Pone centrado
}
.item2{
    // background-color: rgb(206, 148, 72);
    grid-column: 2/4;
    text-align: center;
}
.item3{
    // background-color: rgb(107, 76, 36);
    text-align: center;
}
