<div class="fixed_header"> 

    <section *ngIf="uri === '/module/component/listProduct'">
        <app-header-home></app-header-home>
    </section>
    <section *ngIf="uri ==='/module/component/tableProducts'">
        <app-header1></app-header1>
    </section>
    <section *ngIf="uri ==='/module/component/listProductDetails/'">
        <app-header-home></app-header-home>
    </section>
    <section *ngIf="uri ==='/module/component/productCategory'">
        <app-header-category></app-header-category>
    </section>
</div>
      
