

  .container-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding:1em;
    margin-bottom: 45px; //se deja ester margen para el menu del bottom
    background: rgb(70, 206, 111);
  }

  .item1{
    background: rgb(238, 206, 146);
    // display: flex;
    // gap: 20px;
    // padding:1em;
    // justify-content: center;

    // align-items: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px)   ,1fr ) ) ;
    
  }
  .item2{
    background: rgb(228, 77, 170);
  }

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }


  .example-form-field {
    // max-width: 300px;
    // min-width: 50px;
    width: 100%;
    // height:50px ;
    background: rgb(120, 196, 231);


  }

  .icon-display {
    transform: scale(1.5);
 }
