

<div class="fixed_header">

  <div class="item1">
    <!-- <h1>adap1</h1> -->
    <app-icon-back></app-icon-back>

  </div>
  <div class="item2">
    <!-- <h1>adap2</h1> -->
    <app-button2></app-button2>
  </div>

  <div class="item3">
    <!-- <h1>adap3 prueba de git</h1> -->
    <button type="button" class="btn btn-primary">Agregar producto</button>

  </div>

  <div class="item4">
      <app-name-store></app-name-store>
  </div>

</div>


<!-- <div class="container-search"> -->
    <!-- <mat-form-field style="background-color: beige; width: 100%;"> -->
        <!-- <mat-label>Buscar</mat-label> -->

        <!-- <input matInput type="text" [(ngModel)]="value" class="input-search" #input >
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon class="icon-display">close</mat-icon>
        </button> -->

      <!-- </mat-form-field> -->
<!-- </div> -->