

<app-group-product></app-group-product>
<!-- <div class="fixed_header">
  <div class="item1">
    <app-icon-back></app-icon-back>
  </div>

  <div class="item2">

    <div class="input-group search">
      <input type="text" class="form-control" placeholder="Search...">
      <button type="button" class="search btn bg-transparent" style="margin-left: -40px; z-index: 100;">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>

  <div class="item3">
    <app-name-store></app-name-store>
  </div>

</div> -->

