
.div-parent{
  // border-radius: 5px;
}

.child1{
  color: #F39C12;
  font-size: 18px;
  margin: 5px 10px 5px 5px;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-weight: bold;
}


