
<div class="containerParent">

  <div class="item1">
    <button type="button" class="btn btn-primary btn-sm" >Agregar</button>
    <button type="button" class="btn btn-warning btn-sm" disabled>Editar</button>
    <button type="button" class="btn btn-danger btn-sm" disabled>Eliminar</button> 
  </div>

  <div class="item2">
    <div class="contentGrid" id="grid-wrapper" >
      <ag-grid-angular
      style="width: 100%; height: calc(100vh - 100px)" 
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        (firstDataRendered)="onFirstDataRendered($event)"
        (gridSizeChanged)="onGridSizeChanged($event)"
        (gridReady)="onGridReady($event)"
        [cacheQuickFilter]="true"
        (selectionChanged)="onSelectionChanged($event)"

      ></ag-grid-angular>
    </div>
  
  </div>

</div>


<!-- [rowSelection]="rowSelection" -->
<!-- [pagination]="true" -->

<!-- nota: este calcular height: calc(100vh - 100px) 
Este se suma los pixeles del header y footer y se resta -->