
<div class="containerParent">

  <div class="item1">
    <button type="button" *ngIf="activaBtn.activeNew" class="btn btn-primary btn-sm"  >Agregar</button>
    <button type="button" *ngIf="activaBtn.activeCopy" class="btn btn-success">Copiar</button>
    <button type="button" class="btn btn-warning" [disabled]="activaBtn.disabled">Editar</button>
    <button type="button" class="btn btn-danger btn-sm" [disabled]="activaBtn.disabled" >Eliminar</button> 
    <button type="button" class="btn btn-dark btn-sm" [disabled]="activaBtn.disabled" >Historial</button>
    <!-- disabled -->
    <!--   -->
  </div>

  <div class="item2">
    <button type="button" class="btn btn-link btn-sm">Historial completo</button>
  </div>
 
  <div class="item3">
    <div class="contentGrid" id="grid-wrapper" >
      <ag-grid-angular
      style="width: 100%; height: calc(100vh - 140px)" 
        class="ag-theme-alpine"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        (firstDataRendered)="onFirstDataRendered($event)"
        (gridSizeChanged)="onGridSizeChanged($event)"
        (gridReady)="onGridReady($event)"
        [cacheQuickFilter]="true"
        (selectionChanged)="onSelectionChanged($event)"
      ></ag-grid-angular>
    </div>
  
  </div>

</div>


<!-- [rowSelection]="rowSelection" -->
<!-- [pagination]="true" -->

<!-- nota: este calcular height: calc(100vh - 115px) 
Este se suma los pixeles del header,footer,button,link.  y se resta 
margin-top: 40px;
margin-bottom: 45px;
heing de buttons: 55px
total: 140px
-->