
<!-- <div class="d-flex align-items-center justify-content-center container-carousel" >
    <img src="{{defaultImage}}" alt="..." class="img-thumbnail">
</div> -->

<!-- <div class="container d-flex align-items-center justify-content-center container-carousel " style="background: rgb(194, 231, 134);">
    <img src="{{defaultImage}}" alt="..." class="img-thumbnail">
</div> -->

<!-- <img src="{{section.image}}" alt="..." class="img-thumbnail"> -->

 <!-- <div class="container d-flex align-items-center justify-content-center container-carousel " style="background: rgb(194, 231, 134);">

        <div class="dsc-carousel" >
            <div class="dsc-carousel__btns">
                <i class="fa fa-chevron-circle-left" (click)="setBack()"></i>
                <i class="fa fa-chevron-circle-right" (click)="setNext()"></i>
            </div>
            <div class="dsc-carousel__content">
                <ng-container *ngFor="let section of items;">
                    
                    <div class="dsc-carousel__content-item " 
                    [ngStyle]="{'background-image': 'url(' + section.image + ')', 'margin-left': section.marginLeft + '%' }">
                        <img src="{{section.image}}" alt="..." class="img-thumbnail">
                    </div>
                    
                </ng-container>
            </div>
            <div class="dsc-carousel__steps">
                <div 
                    class="dsc-carousel__steps-step 
                    dsc-carousel__steps-step-{{currentPosition === item.id ? 'active': ''}}" 
                    *ngFor="let item of items" (click)="setCurrentPosition(item.id)">
                </div>
            </div>
        
        </div>
        
</div> -->



<!-- <div class="container"> -->


<div class="dsc-carousel"   >
    <div class="dsc-carousel__btns">
        <i class="fa fa-chevron-circle-left" (click)="setBack()"></i>
        <i class="fa fa-chevron-circle-right" (click)="setNext()"></i>
    </div>
    <div class="dsc-carousel__content">
        <ng-container *ngFor="let section of items;">
            <div class="dsc-carousel__content-item" [ngStyle]="{'background-image': 'url(' + defaultImage + ')', 'margin-left': section.marginLeft + '%' }">
                <!-- <img src="{{section.image}}" alt="..." class="img-thumbnail"> -->
            </div>
        </ng-container>
    </div>
    <div class="dsc-carousel__steps">
        <div 
            class="dsc-carousel__steps-step 
            dsc-carousel__steps-step-{{currentPosition === item.id ? 'active': ''}}" 
            *ngFor="let item of items" (click)="setCurrentPosition(item.id)">
        </div>
    </div>
</div>
<!-- </div> -->