<div class="container-table">

  <div class="item1" >
    
    <div style="background: rgb(247, 244, 225);">
     alasdasdsd
    </div>

    <div style="background: rgb(217, 156, 245);">
    </div>

    <div style="background: rgb(190, 238, 162);">
    </div>

  </div>

      <div class="item2" >
          <ag-grid-angular
          style="width: 100%; height: 350px;"
      
          class="ag-theme-alpine"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          (gridReady)="onGridReady($event)"

          >
          </ag-grid-angular>

      </div>

</div>

