
.container-search{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* align horizontal y distribuye los mismos espacios entre divs*/
  align-items: center; /* align vertical */

}

// @media only screen and (max-width: 2000px) { 
//   .search{
//     background: rgb(170, 155, 155);
//     max-width: 40%;
//   }
// }

// @media only screen and (max-width: 2000px) { 
//   .search{
//     background: rgb(170, 103, 103);
//     max-width: 100;
//   }
// }

.icon-fa-arrow{
  color:#ea802a;
  font-size: 25px;
}


.search {
  width: 90%;
  max-width: 800px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  svg { //Posicion del icono busqueda y vaciar caja te texto
    padding: 9px;
    position: absolute;
    cursor: pointer;
  }

  &__icon { //icono de busqueda
    fill: #ea802a;
    z-index: 99;
  }

 
  &__delete { //icono de vaciar caja de texto
    fill: #F39C12;
    right: .1rem; //distancia hacia el otro icono
    display: none;
    height: 40px;
  }

  input {
    // width: 22rem; //34rem; //tamaño de la caja de texto 22rem
    width: 100%;
    height: 8px;
    box-shadow: 0 0 3px 1px #e1e5ee;
    border: none;
    border-radius: 0.2rem;
    padding: 1.5rem 2.1rem 1.5rem 2rem; //padding: <> <pading del texto al icono borrar> <> <pading del texto al icono buscar> 
    margin: 5px;
    font-family: inherit;
    font-size: 16pt; //2rem;
    outline: none;
    &:not(:placeholder-shown) ~ .search__delete {
      display: block;
    }
    
  }

}


.icon-cart-arrow-down{
  color:#ea802a;
  font-size: 25px;
}

