.contentTitleCenter{
    display: flex;
    // background-color: rgb(240, 240, 240);
    justify-content: center; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    margin: 0; 
}
