<div class="containerParent">

  <div *ngFor="let rw of rowData" class="item1">
    
    <div class="chldItem1">
      <p class="item1_leve1" >{{rw.title}} adap </p>   
    </div>
    <div class="chldItem2">

    </div>

  </div>

    <!-- <div class="item1">
        <div *ngFor="let rw of rowData" class="item1_leve1">
          <p class="item1_leve1" >{{rw.title}} </p>   
          <p class="item1_leve1" >${{rw.price}} </p>   
          <p class="" >{{rw.comments}} </p>   
        </div>
    </div> -->
  
    <!-- <div class="item2">
      <div *ngFor="let rw of rowData" class="item1_leve1">
        <p >{{rw.title}} </p> 
        <p >${{rw.price}} </p>   
        <p >{{rw.comments}} </p>   
      </div>
    </div>
   
    <div class="item3">
      <div *ngFor="let rw of rowData" class="item1_leve1">
        <p >{{rw.title}} </p> 
        <p >${{rw.price}} </p>   
        <p >{{rw.comments}} </p>   
      </div>
    </div> -->
  
  </div>
  